# Clean the csv files and create goal involments column

## Imports

In [1]:
import pandas as pd 
import numpy as np

## Retrieve all data

In [2]:
df_1 = pd.read_csv("honda_keisuke.csv")
df_1

       Season  Age  MP  Starts  Gls  Ast  Gls_CumSum  Ast_CumSum  GI_CumSum
0   2007-2008   21  14      12    2    1           2           1          3
1   2008-2009   22  36      35   16    5          18           6         24
2   2009-2010   23  50      45   11   12          29          18         47
3   2010-2011   24   7       6    1    2          30          20         50
4   2011-2012   25  26      22    7    5          37          25         62
5   2012-2013   26  23      21    7    6          44          31         75
6   2013-2014   27  38      35    4    6          48          37         85
7   2014-2015   28  30      26    6    4          54          41         95
8   2015-2016   29  37      29    2    6          56          47        103
9   2016-2017   30   9       2    1    0          57          47        104
10  2017-2018   31  29      23   10    5          67          52        119
11  2018-2019   32  18      16    7    5          74          57        131
12  2019-2020   33  22      18    2    0          76          57        133

In [3]:
df_2 = pd.read_csv("kagawa_shinji.csv")
df_3 = pd.read_csv("nakamura_shunsuke.csv")
df_4 = pd.read_csv("nakata_hidetoshi.csv")
df_5 = pd.read_csv("okazaki_shinji.csv")
df_6 = pd.read_csv("park_jisung.csv")
df_7 = pd.read_csv("son_heungmin.csv")

## Create cumulative goals and assists then add them to count goal involvements

In [4]:
df_1['Gls_CumSum'] = np.cumsum(df_1['Gls'])
df_1['Ast_CumSum'] = np.cumsum(df_1['Ast'])
df_1['GI_CumSum'] = df_1['Gls_CumSum'] + df_1['Ast_CumSum']

In [5]:
for i in range (2,8) :
    globals()["df_" + str(i)]['Gls_CumSum'] = np.cumsum(globals()["df_"+str(i)]['Gls'])
    globals()["df_" + str(i)]['Ast_CumSum'] = np.cumsum(globals()["df_"+str(i)]['Ast'])
    globals()["df_" + str(i)]['GI_CumSum'] = globals()["df_" + str(i)]['Gls_CumSum'] + globals()["df_" + str(i)]['Ast_CumSum']

### Convert Age to int

In [6]:
  for i in range (2,8) :
    globals()["df_" + str(i)]['Age'] = globals()["df_" + str(i)]['Age'].astype(int)

## Save the newly created dataframes

In [7]:
df_1.to_csv("honda_keisuke.csv", index=False)
df_2.to_csv("kagawa_shinji.csv", index=False)
df_3.to_csv("nakamura_shunsuke.csv", index=False)
df_4.to_csv("nakata_hidetoshi.csv", index=False)
df_5.to_csv("okazaki_shinji.csv", index=False)
df_6.to_csv("park_jisung.csv", index=False)
df_7.to_csv("son_heungmin.csv", index=False)