## Imports

In [1]:
import pandas as pd

import re

### Store the league data for Hambourg

In [2]:
df_hamburg_2010 = pd.read_csv("club/2010-2011/Son_data_champ_matchs_details_2010-2011.csv")

In [3]:
df_hamburg_2011 = pd.read_csv("club/2011-2012/Son_data_champ_matchs_details_2011-2012.csv", encoding='cp1252')

In [4]:
df_hamburg_2012 = pd.read_csv("club/2012-2013/Son_data_champ_matchs_details_2012-2013.csv")

In [5]:
df_hamburg_2010.head()

,Date,Comp,Round,Venue,Result,Squad,Opponent,Start,Pos,Min,...,CrdR,Fls,Fld,Off,Crs,TklW,Int,OG,PKwon,PKcon
0,2010-10-30,Bundesliga,Matchweek 10,Away,L 2–3,Hamburger SV,Köln,Y,NaN,90,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
1,2010-11-06,Bundesliga,Matchweek 11,Home,W 2–1,Hamburger SV,Hoffenheim,N,NaN,16,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
2,2010-11-12,Bundesliga,Matchweek 12,Away,L 0–2,Hamburger SV,Dortmund,N,NaN,25,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
3,2010-11-20,Bundesliga,Matchweek 13,Away,L 2–3,Hamburger SV,Hannover 96,Y,NaN,90,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
4,2010-11-27,Bundesliga,Matchweek 14,Home,W 4–2,Hamburger SV,Stuttgart,Y,NaN,58,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN

### Create a column to store the result of Son's team

In [6]:
df_hamburg_2010['SonTeamResult'] = 0
for row in df_hamburg_2010.index :
    df_hamburg_2010['SonTeamResult'][row] =df_hamburg_2010['Result'][row].split()[0]

In [7]:
df_hamburg_2011['SonTeamResult'] = 0
for row in df_hamburg_2011.index :
    df_hamburg_2011['SonTeamResult'][row] = df_hamburg_2011['Result'][row].split()[0]

In [8]:
df_hamburg_2012['SonTeamResult'] = 0
for row in df_hamburg_2012.index :
    df_hamburg_2012['SonTeamResult'][row] = df_hamburg_2012['Result'][row].split()[0]

### Create columns to store Son's team score and opponent team's score

In [9]:
df_hamburg_2010['SonTeamScore'] = 0
df_hamburg_2010['OpponentTeamScore'] = 0
for row in df_hamburg_2010.index :
    df_hamburg_2010['SonTeamScore'][row] = df_hamburg_2010['Result'][row].split()[1][0]
    df_hamburg_2010['OpponentTeamScore'][row] = df_hamburg_2010['Result'][row].split()[1][2]

In [10]:
df_hamburg_2011['SonTeamScore'] = 0
df_hamburg_2011['OpponentTeamScore'] = 0
for row in df_hamburg_2011.index :
    df_hamburg_2011['SonTeamScore'][row] = df_hamburg_2011['Result'][row].split()[1][0]
    df_hamburg_2011['OpponentTeamScore'][row] = df_hamburg_2011['Result'][row].split()[1][2]

In [11]:
df_hamburg_2012['SonTeamScore'] = 0
df_hamburg_2012['OpponentTeamScore'] = 0
for row in df_hamburg_2010.index :
    df_hamburg_2012['SonTeamScore'][row] = df_hamburg_2012['Result'][row].split()[1][0]
    df_hamburg_2012['OpponentTeamScore'][row] = df_hamburg_2012['Result'][row].split()[1][2]

### Change Matchweek column

In [12]:
for row in df_hamburg_2010.index :    
    df_hamburg_2010['Round'][row] = df_hamburg_2010['Round'][row].replace("Matchweek ","")

In [13]:
for row in df_hamburg_2011.index :    
    df_hamburg_2011['Round'][row] = df_hamburg_2011['Round'][row].replace("Matchweek ","")

In [14]:
for row in df_hamburg_2012.index :    
    df_hamburg_2012['Round'][row] = df_hamburg_2012['Round'][row].replace("Matchweek ","")

In [17]:
df_hamburg_2010.columns

Index(['Date', 'Comp', 'Round', 'Venue', 'Result', 'Squad', 'Opponent',
       'Start', 'Pos', 'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY',
       'CrdR', 'Fls', 'Fld', 'Off', 'Crs', 'TklW', 'Int', 'OG', 'PKwon',
       'PKcon', 'SonTeamResult', 'SonTeamScore', 'OpponentTeamScore'],
      dtype='object')

In [ ]:
df_hamburg_2010.head()

### Change Start column to binary 1 if Yes and 0 if No

In [20]:
df_hamburg_2010['Start'] = df_hamburg_2010['Start'] .apply(lambda x : 1 if x == "Y" else 0)

In [22]:
df_hamburg_2011['Start'] = df_hamburg_2011['Start'].apply(lambda x : 1 if x == "Y" else 0)

In [23]:
df_hamburg_2012['Start'] = df_hamburg_2012['Start'].apply(lambda x : 1 if x == "Y" else 0)

### Create a column home_1_away_0 to have numerical value on the venue

In [25]:
df_hamburg_2010.head()

,Date,Comp,Round,Venue,Result,Squad,Opponent,Start,Pos,Min,...,Off,Crs,TklW,Int,OG,PKwon,PKcon,SonTeamResult,SonTeamScore,OpponentTeamScore
0,2010-10-30,Bundesliga,10,Away,L 2–3,Hamburger SV,Köln,1,NaN,90,...,NaN,NaN,NaN,NaN,0,NaN,NaN,L,2,3
1,2010-11-06,Bundesliga,11,Home,W 2–1,Hamburger SV,Hoffenheim,0,NaN,16,...,NaN,NaN,NaN,NaN,0,NaN,NaN,W,2,1
2,2010-11-12,Bundesliga,12,Away,L 0–2,Hamburger SV,Dortmund,0,NaN,25,...,NaN,NaN,NaN,NaN,0,NaN,NaN,L,0,2
3,2010-11-20,Bundesliga,13,Away,L 2–3,Hamburger SV,Hannover 96,1,NaN,90,...,NaN,NaN,NaN,NaN,0,NaN,NaN,L,2,3
4,2010-11-27,Bundesliga,14,Home,W 4–2,Hamburger SV,Stuttgart,1,NaN,58,...,NaN,NaN,NaN,NaN,0,NaN,NaN,W,4,2

In [ ]:
df_hamburg_2010['Home_1_Away_0'] = df_hamburg_2010['Venue'].apply(lambda x : 0 if x else 1)