# Scrap the Opponent Team Elo for each game from ClubElo.com

## Imports & Webdriver options

In [ ]:
from selenium import webdriver
import pandas as pd

In [ ]:
options = webdriver.ChromeOptions()

In [ ]:
options.add_argument("--incognito")

In [ ]:
driver = webdriver.Chrome("../chromedriver.exe", options= options)

## Load the dataframe with all the games we are looking for

In [173]:
data_match = pd.read_csv("club/all_season/Son_data_champ-ldc_matchs_details_all_season.csv")

### Take a look at the opponents' name

In [ ]:
data_match['Opponent'].unique()

In [ ]:
len(data_match['Opponent'].unique())

## Replace the opponent names with the names used on ClubElo's links

In [174]:
data_match['Opponent_NewNames']=data_match['Opponent']

### Change one by one the names that need to be changed

In [175]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Köln','Koeln')

In [176]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('KÃ¶ln','Koeln')

In [177]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Hannover 96','Hannover')

In [178]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Hertha BSC','Hertha')

In [179]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Werder Bremen','Werder')

In [180]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Bayern Munich','Bayern')

In [181]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace("M'Gladbach",'Gladbach')

In [182]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace("Schalke 04",'Schalke')

In [183]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace("NÃ¼rnberg",'Nuernberg')

In [185]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace("Nürnberg",'Nuernberg')

In [184]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Kaiserslautern','Lautern')

In [186]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Mainz 05','Mainz')

In [187]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Eint Frankfurt','Frankfurt')

In [188]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Greuther Fürth','Fuerth')

In [189]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Düsseldorf','Duesseldorf')

In [190]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Hamburger SV','Hamburg')

In [191]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Paderborn 07','Paderborn')

In [192]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Crystal Palace','CrystalPalace')

In [193]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Manchester City','ManCity')

In [194]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('West Ham','WestHam')

In [195]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('West Brom','WestBrom')

In [196]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Newcastle Utd','Newcastle')

In [197]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Norwich City','Norwich')

In [198]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Leicester City','Leicester')

In [199]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Swansea City','Swansea')

In [200]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Aston Villa','AstonVilla')

In [201]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Manchester Utd','ManUnited')

In [202]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Stoke City','Stoke')

In [203]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Hull City','Hull')

In [204]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Cardiff City','Cardiff')

In [205]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Sheffield Utd','SheffieldUnited')

In [206]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Real Sociedad','Sociedad')

In [207]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Atlético Madrid','Atletico')

In [208]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Real Madrid','RealMadrid')

In [209]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Paris S-G','ParisSG')

In [210]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('APOEL FC','APOEL')

In [212]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('FC Copenhagen','FCKobenhavn')

In [213]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('dk FC Copenhagen','FCKobenhavn')

In [214]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('PSV Eindhoven','PSV')

In [215]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Olympiacos','Olympiakos')

In [216]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('CSKA Moscow','CSKAMoskva')

In [217]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Red Star','CrvenaZvezda')

In [218]:
data_match['Opponent_NewNames'] = data_match['Opponent_NewNames'].replace('Leeds United','Leeds')

In [219]:
data_match[['Opponent','Opponent_NewNames']]

            Opponent Opponent_NewNames
0               Köln             Koeln
1         Hoffenheim        Hoffenheim
2           Dortmund          Dortmund
3        Hannover 96          Hannover
4          Stuttgart         Stuttgart
..               ...               ...
369        Liverpool         Liverpool
370         Brighton          Brighton
371          Chelsea           Chelsea
372        West Brom          WestBrom
373  Manchester City           ManCity

[374 rows x 2 columns]

In [ ]:
data_match['Opponent_NewNames'].unique()

## Create a loop to get the Opponent Elo for each fixtures

In [ ]:
elo_list = []

In [ ]:
for i in data_match.index :
    url = "http://clubelo.com/" + str(data_match['Date'][i]) +"/"+ str(data_match['Opponent_NewNames'][i]).replace(" ","")
    driver.get(url)
    elo = driver.find_element_by_css_selector('div[class ="astblatt"] b')
    print(elo.text)
    elo_list.append(elo.text)

## Add the Elo to the dataframe

In [221]:
data_match['Elo_Opp'] = elo_list

In [ ]:
driver.close()

## Calculate the Elo_Diff between Son's Team and their opponent

In [223]:
data_match['Elo']

0      1750
1      1741
2      1747
3      1740
4      1731
       ...
369    1845
370    1836
371    1824
372    1816
373    1819
Name: Elo, Length: 374, dtype: int64

In [225]:
data_match['Elo_Opp'] = data_match['Elo_Opp'].astype('int64')

In [226]:
data_match['Elo_Diff'] = data_match['Elo'] - data_match['Elo_Opp']

In [233]:
data_match = data_match.drop(['Opponent_NewNames'], axis=1)

In [235]:
data_match.to_csv("club/all_season/Son_data_champ-ldc_matchs_details_all_season.csv", index= False)