In [2]:
from selenium import webdriver

In [32]:
import pandas as pd

In [3]:
options = webdriver.ChromeOptions()

In [4]:
options.add_argument("--incognito")

In [5]:
driver = webdriver.Chrome("./chromedriver.exe", options=options)

In [6]:
driver.get('https://fbref.com/fr/joueurs/92e7e919/all_comps/Statistiques-Son-Heung-min-Stats---Toutes-les-competitions')

In [10]:
saison = driver.find_elements_by_xpath('//table [@id = "stats_player_summary_92e7e919"] //tbody //th[@data-stat = "season"] ')

In [36]:
lst_saison = [x.text for x in saison]

In [17]:
age = driver.find_elements_by_xpath('//table [@id = "stats_player_summary_92e7e919"] //tbody //td[@data-stat = "age"] ')

In [37]:
lst_age = [x.text for x in age]

In [22]:
equipe = driver.find_elements_by_xpath('//table [@id = "stats_player_summary_92e7e919"] //tbody //td[@data-stat = "squad"] ')

In [38]:
lst_equipe = [x.text for x in equipe]

In [24]:
matchsttc = driver.find_elements_by_xpath('//table [@id = "stats_player_summary_92e7e919"] //tbody //td[@data-stat = "all_games"] ')

In [39]:
lst_matchttc = [x.text for x in matchsttc]

In [26]:
minplayed = driver.find_elements_by_xpath('//table [@id = "stats_player_summary_92e7e919"] //tbody //td[@data-stat = "all_minutes"] ')

In [40]:
lst_minutes = [x.text for x in minplayed]

In [28]:
buts = driver.find_elements_by_xpath('//table [@id = "stats_player_summary_92e7e919"] //tbody //td[@data-stat = "all_goals"] ')

In [41]:
lst_buts = [x.text for x in buts]

In [30]:
assist = driver.find_elements_by_xpath('//table [@id = "stats_player_summary_92e7e919"] //tbody //td[@data-stat = "all_assists"] ')

In [42]:
lst_assist = [x.text for x in assist]

In [43]:
df = pd.DataFrame(list(zip(lst_saison, lst_age, lst_equipe, lst_matchttc, lst_minutes, lst_buts, lst_assist)) , columns=['Saison', 'Age', 'Equipe', 'MJ TTC', "Minutes", "Buts", "Passes D"])

In [44]:
df

       Saison Age        Equipe MJ TTC Minutes Buts Passes D
0   2010-2011  18  Hamburger SV     13     720    3        0
1   2011-2012  19  Hamburger SV     27   1,223    5        0
2   2012-2013  20  Hamburger SV     33   2,689   12        2
3   2013-2014  21    Leverkusen     39   2,876   10        6
4   2014-2015  22    Leverkusen     40   2,991   15        3
5   2015-2016  23    Leverkusen      1      63    0        0
6   2015-2016  23     Tottenham     40   1,896    8        6
7   2016-2017  24     Tottenham     47   2,968   21        7
8   2017-2018  25     Tottenham     53   3,383   18       11
9   2018-2019  26     Tottenham     48   3,306   20        9
10  2019-2020  27     Tottenham     41   3,196   18       12
11  2020-2021  28     Tottenham      8     539    9        2

In [45]:
titulaires = driver.find_elements_by_xpath('//table [@id = "stats_playing_time_ks_collapsed"] //tbody //td[@data-stat = "games_starts"] ')

In [47]:
lst_titu = [x.text for x in titulaires]

In [48]:
remplacant = driver.find_elements_by_xpath('//table [@id = "stats_playing_time_ks_collapsed"] //tbody //td[@data-stat = "games_subs"] ')

In [49]:
lst_subs = [x.text for x in remplacant]

In [52]:
df2 = pd.DataFrame(list(zip(lst_saison, lst_age, lst_equipe, lst_matchttc,lst_titu,lst_subs, lst_minutes, lst_buts, lst_assist)) , columns=['Saison', 'Age', 'Equipe', 'MJ TTC','Titulaire','Remplacant', "Minutes", "Buts", "Passes D"])

In [53]:
df2

,Saison,Age,Equipe,MJ TTC,Titulaire,Remplacant,Minutes,Buts,Passes D
0,2010-2011,18,Hamburger SV,13,8,5,720,3,0
1,2011-2012,19,Hamburger SV,27,11,16,"1,223",5,0
2,2012-2013,20,Hamburger SV,33,31,2,"2,689",12,2
3,2013-2014,21,Leverkusen,39,36,3,"2,876",10,6
4,2014-2015,22,Leverkusen,40,36,4,"2,991",15,3
5,2015-2016,23,Leverkusen,1,1,0,63,0,0
6,2015-2016,23,Tottenham,40,22,18,"1,896",8,6
7,2016-2017,24,Tottenham,47,34,13,"2,968",21,7
8,2017-2018,25,Tottenham,53,39,14,"3,383",18,11
9,2018-2019,26,Tottenham,48,38,10,"3,306",20,9
10,2019-2020,27,Tottenham,41,35,6,"3,196",18,12
11,2020-2021,28,Tottenham,8,6,2,539,9,2

In [56]:
df2.to_csv(r'C:\Users\jacky\Downloads\Work\ESILV\Projets\HeungMinSon\Data\SeasonTTC.csv', header = True, index = False)